[Unit]
Description=Orderbook Streaming Daemon
After=network-online.target
Wants=network-online.target

[Service]
Type=simple
User=root
WorkingDirectory=/root/stockbit-crawler
ExecStart=/root/stockbit-crawler/venv/bin/python run_daemon.py
Restart=always
RestartSec=10

EnvironmentFile=/root/stockbit-crawler/.env

StandardOutput=journal
StandardError=journal

[Install]
WantedBy=multi-user.target
